.contact_main {
  margin: 0px 150px;
  @media only screen and (min-width: 1400px) {
    margin: 0px 350px;
  }
  @media only screen and (max-width: 900px) {
    margin: 0px 50px;
  }
  .contact_h1 {
    font-size: 30px;
    font-weight: 100;
    font-style: normal;
    text-align: left;
    color: #000000;
  }
  .contact_internal {
    display: flex;
    @media only screen and (max-width: 900px) {
      flex-direction: column-reverse;
      margin-top: 50px;
    }
    .form_contact {
      margin-left: 50px;
      @media only screen and (max-width: 900px) {
        margin-left: 0px;
        margin-bottom: 50px;
      }
      .contact_input,
      textarea {
        background: #f5f5f5;
        font-size: 16px;
        font-weight: normal;
        border: none;
        width: 100%;
        padding: 21px;
        font-style: normal;
        text-align: left;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
      }
      .btn_send {
        background: #79addc;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        color: #ffffff;
        padding: 20px 6px;
        border: none;
      }
    }
    .mapdiv {
      img {
        @media only screen and (max-width: 900px) {
          width: 100%;
          object-fit: cover;
        }
      }
      p {
        font-size: 18px;
        font-weight: 300;
        line-height: 23px;
        font-style: normal;
        text-align: left;
        color: #000000;
        margin-top: 35px;
      }
    }
  }
}
